.chatpage
  {
  background-color: Silver;
}

.bubble:before, .bubble:after {
	border-radius: 20px / 10px;
	content: '';
	display: block;
	position: absolute;
}

.bubble--left {
	background-image: linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
    background-image: -o-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(210,244,254)),
	color-stop(1, rgb(149,194,253))
    );
	border: solid 1px rgba(0, 0, 0, 0.5);
	/* vendor rules */
	border-radius: 20px;
	/* vendor rules */
	box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
	/* vendor rules */
	box-sizing: border-box;
	clear: both;
	float: left;
	margin-bottom: 20px;
	padding: 8px 30px;
	position: relative;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
	width: auto;
	max-width: 100%;
	word-wrap: break-word;
    left: 5px;
}


.bubble--left:before {
	border: 10px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: -6px;
	z-index: -2;
}

.bubble--left:after {
	border: 8px solid transparent;
	border-bottom-color: #d2f4fe;
	bottom: 1px;
	left: -4px;
}

.bubble--right {
	background-image: linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -o-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(172,228,75)),
	color-stop(1, rgb(122,205,71))
    );
	border: solid 1px rgba(0, 0, 0, 0.5);
	/* vendor rules */
	border-radius: 20px;
	/* vendor rules */
	box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
	/* vendor rules */
	box-sizing: border-box;
	clear: both;
	margin-bottom: 20px;
	padding: 8px 30px;
	position: relative;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
	width: auto;
	max-width: 100%;
	word-wrap: break-word;
	float: right;
    right: 5px;
}


.bubble--right:before {
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px / 10px;
	left: auto;
	right: -6px;
}

.bubble--right:after {
	border-bottom-color: #ace44b;
	border-radius: 20px / 10px;
	left: auto;
	right: -4px;
}


/* .chatMessage--others { */
/* 	background-image: linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%); */
/*     background-image: -o-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%); */
/*     background-image: -moz-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%); */
/*     background-image: -webkit-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%); */
/*     background-image: -ms-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%); */
/*     background-image: -webkit-gradient( */
/*         linear, */
/*         left bottom, */
/*         left top, */
/*         color-stop(0.25, rgb(210,244,254)), */
/*         color-stop(1, rgb(149,194,253)) */
/*     ); */
/* 	border: solid 1px rgba(0, 0, 0, 0.5); */
/* 	/1* vendor rules *1/ */
/* 	border-radius: 20px; */
/* 	/1* vendor rules *1/ */
/* 	box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2); */
/* 	/1* vendor rules *1/ */
/* 	box-sizing: border-box; */
/* 	clear: both; */
/* 	float: left; */
/* 	/1* margin-bottom: 20px; *1/ */
/* 	/1* padding: 8px 30px; *1/ */
/* 	position: relative; */
/* 	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7); */
/* 	width: auto; */
/* 	max-width: 100%; */
/* 	word-wrap: break-word; */
/* } */

/* .chatMessage--others>.sapMTextAreaInner { */
/*     border: none !important; */
/*     padding: 0 0.75rem; */
/* } */

/* .chatMessage--others:before, .chatMessage--others:after { */
/*   border-radius: 20px / 5px; */
/*   content: ''; */
/*   display: block; */
/*   position: absolute; */
/* } */

/* /1* creates larger curve *1/ */
/* .chatMessage--others:before { */
/*   z-index:10; */
/*   bottom:-3px; */
/*   left:-2px; */
/*   width:15px; */
/*   height:9px; */
/*   border-style:solid; */
/*   border-width:0 1px 1px 0; */
/*   border-color:rgba(0, 0, 0, 0.5); */
/*   background:transparent; */
/*   /1* css3 *1/ */
/*   -webkit-border-bottom-right-radius:80px 50px; */
/*   -moz-border-radius-bottomright:80px 50px; */
/*   border-bottom-right-radius:80px 50px; */
/* } */

/* /1* creates smaller curve *1/ */
/* .chatMessage--others:after { */
/*   background-color: black; */
/*   z-index:11; */
/*   bottom:-3px; */
/*   left:-2px; */
/*   width:6px; */
/*   height:9px; */
/*   border-style:solid; */
/*   border-width:0 1px 1px 0; */
/*   border-color:rgba(0, 0, 0, 0.5); */
/*   background:transparent; */
/*   /1* css3 *1/ */
/*   -webkit-border-bottom-right-radius:40px 50px; */
/*   -moz-border-radius-bottomright:40px 50px; */
/*   border-bottom-right-radius:40px 50px; */
/* } */

/* ..chatMessage-mine { */
/* 	background-image: linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/* background-image: -o-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/* background-image: -moz-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/* background-image: -webkit-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/* background-image: -ms-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/* background-image: -webkit-gradient( */
/* 	linear, */
/* 	left bottom, */
/* 	left top, */
/* 	color-stop(0.25, rgb(172,228,75)), */
/* 	color-stop(1, rgb(122,205,71)) */
/* ); */
/* 	float: right; */
/* } */


/* ..chatMessage-mine { */
/* 	background-image: linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/*     background-image: -o-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/*     background-image: -moz-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/*     background-image: -webkit-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/*     background-image: -ms-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%); */
/*     background-image: -webkit-gradient( */
/*         linear, */
/*         left bottom, */
/*         left top, */
/*         color-stop(0.25, rgb(172,228,75)), */
/*         color-stop(1, rgb(122,205,71)) */
/*     ); */
/* 	border: solid 1px rgba(0, 0, 0, 0.5); */
/* 	/1* vendor rules *1/ */
/* 	border-radius: 20px; */
/* 	/1* vendor rules *1/ */
/* 	box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2); */
/* 	/1* vendor rules *1/ */
/* 	box-sizing: border-box; */
/* 	clear: both; */
/* 	float: right; */
/* 	/1* margin-bottom: 20px; *1/ */
/* 	/1* padding: 8px 30px; *1/ */
/* 	position: relative; */
/* 	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7); */
/* 	width: auto; */
/* 	max-width: 100%; */
/* 	word-wrap: break-word; */
/* } */

/* ..chatMessage-mine:before, ..chatMessage-mine:after { */
/* 	border-radius: 20px / 10px; */
/* 	content: ''; */
/* 	display: block; */
/* 	position: absolute; */
/* } */

/* ..chatMessage-mine:before { */
/* 	border-bottom-color: rgba(0, 0, 0, 0.5); */
/* 	border-radius: 20px / 10px; */
/* 	left: auto; */
/* 	right: -7px; */
/* } */

/* ..chatMessage-mine:after { */
/* 	border-bottom-color: #ace44b; */
/* 	border-radius: 20px / 10px; */
/* 	left: auto; */
/* 	right: -5px; */
/* } */

/* ..chatMessage-mine>.sapMTextAreaInner { */
/*     border: none !important; */
/*     padding: 0 0.75rem; */
/* } */




/* Bit of normalisation */


/* .bubble */

